
body, h1, p, label, button, input {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
}

#mazeContainer {
  display: grid;
  grid-gap: 1px;
  margin-top: 20px;
  background-color: #333;
  border: 1px solid #444;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cell {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #444;
}


#mazeSize {
  width: 50px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#generateButton {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #0074d9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#generateButton:hover {
  background-color: #0056b3;
}
